.row{
    padding: 2rem;
    border: 1px solid rgb(188, 180, 180);
    margin: 5rem;
    border-radius: 5px;
}

.card{
    background-color: rgb(243, 243 ,243);
    width: 20rem;
    margin-bottom: 1rem;
}

.navbar-brand, .nav-link{
    color:#1db7fc;;
}

.pe-none{
    pointer-events: none;
}

.navbar{
    background-color: white !important;
    border-bottom: 1px solid #cac0c0;
}

.img-thumbnail{
    max-width: 6rem !important;
    padding: 0 !important;
    margin-right: 1rem !important;
    height: 6rem !important;
}
